<?xml version="1.0"?>
<robot name="modular_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include the arm macro -->
  <xacro:include filename="$(find manipulator_description)/urdf/manipulator_parts.xacro"/>
  <!-- Include the end effector macro -->
  <xacro:include filename="$(find manipulator_description)/urdf/one_finger_gripper.xacro"/>

  <!-- Materials for use in colouring the manipulator -->
  <material name="black">
    <color rgba="0.2 0.2 0.2 1"/>
  </material>
  <material name="grey">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <!-- Link to provide the location reference for the arm -->
  <link name="world"/>

  <!-- Name to use for the end effector link placed on the wrist -->
  <xacro:property name="end_effector_base_link" value="wrist_base_link"/>

  <!-- Place an arm on the reference location -->
  <xacro:manipulator parent="world"
      end_effector_link="${end_effector_base_link}"
      link_colour_1="black"
      link_colour_2="grey">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:manipulator>

  <!-- Place an end effector on the end of the arm -->
  <xacro:one_finger_gripper base_link_name="${end_effector_base_link}"
      base_colour="black"
      finger_colour="grey"/>

  <!-- Include Gazebo-specific information if in simulation mode -->
  <xacro:if value="$(arg use_simulation)">
    <xacro:include filename="$(find manipulator_description)/urdf/manipulator.gazebo.xacro"/>

    <xacro:basic_transmission joint_name="shoulder_rotate_joint"/>
    <xacro:basic_transmission joint_name="shoulder_pitch_joint"/>
    <xacro:basic_transmission joint_name="upper_arm_link_joint"/>
    <xacro:basic_transmission joint_name="lower_arm_link_joint"/>
    <xacro:basic_transmission joint_name="moving_finger_joint"/>

    <gazebo>
      <plugin name="control" filename="libgazebo_ros_control.so"/>
      <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
        <jointName>shoulder_rotate_joint, shoulder_pitch_joint, upper_arm_link_joint, lower_arm_link_joint, moving_finger_joint</jointName>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
